<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form to JSON</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px; /* Increase the font size */
        }
        .container {
            width: 90%;
            margin: auto;
        }
        .form-section {
            margin-bottom: 20px;
        }
        .form-section label {
            display: block;
            margin-bottom: 5px;
        }
        .form-section input[type="text"],
        .form-section input[type="number"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }
        .peaks-container {
            display: flex;
            justify-content: space-between;
        }
        .peak {
            width: 30%;
            padding: 10px;
            box-sizing: border-box;
        }
        .option-description {
            margin-bottom: 10px;
            color: #444;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>REF_M reduction of a single run</h1>
        <p>(Hover over text for tooltip info)</p>

        <div class="form-section">
            <h2 title="Path to REF_M_xxxx.nxs.h5 file">Nexus events file</h2>
            <input type="text" id="events_file" onclick="this.select()" style="width: 800px;" value="/SNS/REF_M/IPTS-33892/nexus/REF_M_43884.nxs.h5">
        </div>

        <div class="form-section">
            <h2 title="Output directory path for reduced and reports files">Output Directory</h2>
            <input type="text" id="outdir" onclick="this.select()" style="width: 800px;" value="/tmp/test_43884">
        </div>

        <div class="form-section">
            <h2>Options for all peaks</h2>

            <label title="Check the following box to see 2D plots on the monitor.
Loading the page for each run will take much longer when this option is turned on.">
                <input type="checkbox" id="plot_in_2D" checked> Show 2D plots</label>

            <label><input type="checkbox" id="use_const_q"> Use constant-Q binning</label>

            <label>Q step <input type="number" id="q_step" step="0.01" style="width: 65px;" value="-0.02"></label>

            <label title="Check the following box if you want to use SANGLE,
otherwise DANGLE will be used."><input type="checkbox" id="use_sangle" checked> Use SANGLE</label>

            <p class="option-description">Automated ROI: Once a peak ROI is chosen for each peak—whether automatically
            extracted from the metadata in the events file or manually specified using the fields below—the
            application will fit a peak shape to refine the ROI boundaries.</p>
            <label><input type="checkbox" id="fit_peak_in_roi" checked>Automated ROI</label>

            <label title="Number of peaks in the run" style="font-weight:bold; font-size:1.2em;">
                Peak count <input type="number" id="peak_count" style="width: 25px;" value="2"></label>
        </div>

        <div class="peaks-container">
            <div class="form-section peak" id="peak1">
                <h2>Peak #1</h2>

                <p class="option-description">Force peak ROI: ignore metadata <b>ROI1</b> stored in the logs
                of the event file by defining your own <i>min</i> and <i>max</i> peak ranges</p>
                <label><input type="checkbox" id="force_peak" checked>Force peak ROI</label>

                <label>Pixel min <input type="number" id="peak_min" style="width: 50px;" value="105"></label>

                <label>Pixel max <input type="number" id="peak_max" style="width: 50px;" value="120"></label>

                <p class="option-description">Use background: use metadata <b>ROI2</b> stored in the logs of the
                event file to automatically choose a <i>min</i> and <i>max</i> pixel region defining the background</p>
                <label><input type="checkbox" id="use_roi_bck" checked>Use background</label>

                <p class="option-description">Force background ROI: ignore metadata <b>ROI2</b>
                and instead choose your own <i>min</i> and <i>max</i> pixel regions defining the background</p>
                <label><input type="checkbox" id="force_background" checked>Force background ROI</label>

                <label>Bck min <input type="number" id="bck_min" style="width: 50px;" value="28"></label>

                <label>Bck max <input type="number" id="bck_max" style="width: 50px;" value="80"></label>

                <p class="option-description">Use side background: ignore metadata <b>ROI2</b>
                and instead choose a region on each side of the reflected peak to estimate the background.</p>
                <label><input type="checkbox" id="use_side_bck">Use side background</label>

                <label>Pixels on each side <input type="number" style="width: 40px;" id="bck_width"></label>

                <p class="option-description">Force vertical ROI: ignore metadata <b>ROI1</b> and choose your own
                <i>min</i> and <i>max</i> peak ranges along the vertical (Y-axis)</p>
                <label><input type="checkbox" id="force_low_res" checked>Force vertical ROI</label>

                <label>Pixel min <input type="number" id="low_res_min" style="width: 50px;" value="90"></label>

                <label>Pixel max <input type="number" id="low_res_max" style="width: 50px;" value="150"></label>
            </div>



            <div class="form-section peak" id="peak2">
                <h2 title="Peak 2 options ignored if Peak count is 1">Peak #2</h2>

                <p class="option-description">Force peak ROI: ignore metadata <b>ROI3</b> stored in the logs
                of the event file by defining your own <i>min</i> and <i>max</i> peak ranges</p>
                <label><input type="checkbox" id="force_peak_s2" checked> Force peak ROI</label>

                <label>Pixel min <input type="number" id="peak_min_s2" style="width: 50px;" value="160"></label>

                <label>Pixel max <input type="number" id="peak_max_s2" style="width: 50px;" value="172"></label>

                <p class="option-description">Use background: use metadata <b>ROI4</b> stored in the logs of the
                event file to automatically choose a <i>min</i> and <i>max</i> pixel region defining the background</p>
                <label><input type="checkbox" id="use_roi_bck_s2" checked>Use background</label>

                <p class="option-description">Force background ROI: ignore metadata <b>ROI4</b>
                and instead choose your own <i>min</i> and <i>max</i> pixel regions defining the background</p>
                <label><input type="checkbox" id="force_background_s2" checked>Force background ROI</label>

                <label>Bck min <input type="number" id="bck_min_s2" style="width: 50px;" value="30"></label>

                <label>Bck max <input type="number" id="bck_max_s2" style="width: 50px;" value="70"></label>

                <p class="option-description">Use side background: ignore metadata <b>ROI4</b> and instead choose
                a region on each side of the reflected peak to estimate the background.</p>
                <label><input type="checkbox" id="use_side_bck_s2">Use side background</label>

                <label>Pixels on each side <input type="number" style="width: 40px;" id="bck_width_s2"></label>

                <p class="option-description">Force vertical ROI: ignore metadata <b>ROI3</b> and choose your own
                <i>min</i> and <i>max</i> peak ranges along the vertical (Y-axis)</p>
                <label><input type="checkbox" id="force_low_res_s2" checked>Force vertical ROI</label>

                <label>Pixel min <input type="number" id="low_res_min_s2" style="width: 50px;" value="125"></label>

                <label>Pixel max <input type="number" id="low_res_max_s2" style="width: 50px;" value="165"></label>
            </div>



            <div class="form-section peak" id="peak3">
                <h2 title="Peak 3 options ignored if Peak count is smaller than three">Peak #3</h2>

                <p class="option-description">Force peak ROI: ignore metadata <b>ROI5</b> stored in the logs
                of the event file by defining your own <i>min</i> and <i>max</i> peak ranges</p>
                <label><input type="checkbox" id="force_peak_s3" checked> Force peak ROI</label>

                <label>Pixel min <input type="number" id="peak_min_s3" style="width: 50px;" value="160"></label>

                <label>Pixel max <input type="number" id="peak_max_s3" style="width: 50px;" value="180"></label>

                <p class="option-description">Use background: use metadata <b>ROI6</b> stored in the logs of the
                event file to automatically choose a <i>min</i> and <i>max</i> pixel region defining the background</p>
                <label><input type="checkbox" id="use_roi_bck_s3" checked>Use background</label>

                <p class="option-description">Force background ROI: ignore metadata <b>ROI6</b>
                and instead choose your own <i>min</i> and <i>max</i> pixel regions defining the background</p>
                <label><input type="checkbox" id="force_background_s3" checked>Force background ROI</label>

                <label>Bck min <input type="number" id="bck_min_s3" style="width: 50px;" value="30"></label>

                <label>Bck max <input type="number" id="bck_max_s3" style="width: 50px;" value="70"></label>

                <p class="option-description">Use side background: ignore metadata <b>ROI6</b> and instead choose
                a region on each side of the reflected peak to estimate the background.</p>
                <label><input type="checkbox" id="use_side_bck_s3">Use side background</label>

                <label>Pixels on each side <input type="number" style="width: 40px;" id="bck_width_s3"></label>

                <p class="option-description">Force vertical ROI: ignore metadata <b>ROI5</b> and choose your own
                <i>min</i> and <i>max</i> peak ranges along the vertical (Y-axis)</p>
                <label><input type="checkbox" id="force_low_res_s3">Force vertical ROI</label>

                <label>Pixel min <input type="number" id="low_res_min_s3" style="width: 50px;" value="175"></label>

                <label>Pixel max <input type="number" id="low_res_max_s3" style="width: 50px;" value="50"></label>

            </div>
        </div>

        <button id="submit_form_button" title="Reduction may take up to two minutes" style="padding: 10px 20px; font-size: 22px;" onclick="submitForm()">Submit</button>
        <button id="view_report_button" title="An HTML report will be generated after reduction is finished" style="padding: 10px 20px; font-size: 22px;" onclick="viewReport()" disabled>View Report</button>
    </div>

    <script>
        let jsonData = null;
        function handleCheckboxConstraints(useRoiBckId, forceBackgroundId, useSideBckId) {
            const use_roi_bck = document.getElementById(useRoiBckId);
            const force_background = document.getElementById(forceBackgroundId);
            const use_side_bck = document.getElementById(useSideBckId);

            use_roi_bck.addEventListener('change', () => {
                if (use_roi_bck.checked) {
                    use_side_bck.checked = false;
                } else {
                    force_background.checked = false;
                }
            });

            force_background.addEventListener('change', () => {
                if (force_background.checked) {
                    use_roi_bck.checked = true;
                    use_side_bck.checked = false;
                }
            });

            use_side_bck.addEventListener('change', () => {
                if (use_side_bck.checked) {
                    use_roi_bck.checked = false;
                    force_background.checked = false;
                }
            });
        }

        function initializeConstraints() {
            handleCheckboxConstraints('use_roi_bck', 'force_background', 'use_side_bck');
            handleCheckboxConstraints('use_roi_bck_s2', 'force_background_s2', 'use_side_bck_s2');
            handleCheckboxConstraints('use_roi_bck_s3', 'force_background_s3', 'use_side_bck_s3');
        }

        async function submitForm() {
            let submit_form_button = document.getElementById('submit_form_button');
            let view_report_button = document.getElementById('view_report_button')
            submit_form_button.disabled = true; // disable button while running reduction
            view_report_button.disabled = true;

            const formValues = {
                events_file: document.getElementById('events_file').value,
                outdir: document.getElementById('outdir').value,
                plot_in_2D: document.getElementById('plot_in_2D').checked,
                use_const_q: document.getElementById('use_const_q').checked,
                q_step: document.getElementById('q_step').value,
                use_sangle: document.getElementById('use_sangle').checked,
                fit_peak_in_roi: document.getElementById('fit_peak_in_roi').checked,
                peak_count: document.getElementById('peak_count').value,

                force_peak: document.getElementById('force_peak').checked,
                peak_min: document.getElementById('peak_min').value,
                peak_max: document.getElementById('peak_max').value,
                use_roi_bck: document.getElementById('use_roi_bck').checked,
                force_background: document.getElementById('force_background').checked,
                bck_min: document.getElementById('bck_min').value,
                bck_max: document.getElementById('bck_max').value,
                use_side_bck: document.getElementById('use_side_bck').checked,
                bck_width: document.getElementById('bck_width').value,
                force_low_res: document.getElementById('force_low_res').checked,
                low_res_min: document.getElementById('low_res_min').value,
                low_res_max: document.getElementById('low_res_max').value,

                force_peak_s2: document.getElementById('force_peak_s2').checked,
                peak_min_s2: document.getElementById('peak_min_s2').value,
                peak_max_s2: document.getElementById('peak_max_s2').value,
                use_roi_bck_s2: document.getElementById('use_roi_bck_s2').checked,
                force_background_s2: document.getElementById('force_background_s2').checked,
                bck_min_s2: document.getElementById('bck_min_s2').value,
                bck_max_s2: document.getElementById('bck_max_s2').value,
                use_side_bck_s2: document.getElementById('use_side_bck_s2').checked,
                bck_width_s2: document.getElementById('bck_width_s2').value,
                force_low_res_s2: document.getElementById('force_low_res_s2').checked,
                low_res_min_s2: document.getElementById('low_res_min_s2').value,
                low_res_max_s2: document.getElementById('low_res_max_s2').value,

                force_peak_s3: document.getElementById('force_peak_s3').checked,
                peak_min_s3: document.getElementById('peak_min_s3').value,
                peak_max_s3: document.getElementById('peak_max_s3').value,
                use_roi_bck_s3: document.getElementById('use_roi_bck_s3').checked,
                force_background_s3: document.getElementById('force_background_s3').checked,
                bck_min_s3: document.getElementById('bck_min_s3').value,
                bck_max_s3: document.getElementById('bck_max_s3').value,
                use_side_bck_s3: document.getElementById('use_side_bck_s3').checked,
                bck_width_s3: document.getElementById('bck_width_s3').value,
                force_low_res_s3: document.getElementById('force_low_res_s3').checked,
                low_res_min_s3: document.getElementById('low_res_min_s3').value,
                low_res_max_s3: document.getElementById('low_res_max_s3').value,

            };
            fetch('/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formValues)
            })
            .then(response => {
                if (!response.ok) {
                    // throw and error
                    return response.json().then(err => {throw new Error(err.error);})
                }
                return response.json();
            })
            .then(data => {
                jsonData = data;
                submit_form_button.disabled = false;  // reenable submit button
                view_report_button.disabled = false;
             })
            .catch((error) => {
                jsonData = null;
                console.error('Error:', error);
                submit_form_button.disabled = false;  // reenable submit button
                view_report_button.disabled = false;
                alert('Error: ' + error.message);
            });
        }

        function viewReport() {

            let data = JSON.stringify(jsonData);
            let url = "/report?report_file=" + encodeURIComponent(jsonData.report_file);
            window.open(url, "_blank");
            // window.open("/report", "_blank");
        }

        document.addEventListener('DOMContentLoaded', initializeConstraints);

    </script>
</body>
</html>
